extends meta

block site
	div#site-flex
		header#header-phone
			include ./partials/_navigation-main

		input(type='checkbox')#sidebar-toggle
		div#content-flex
			div#content
				block page
			include ./partials/_sidebar

		footer#footer-phone
			include ./partials/_navigation-screen
