aside#sidebar
	section.sidebar-section#personal
		h1.sidebar-section-heading#personal-heading Basic information
		img(src='assets/images/ilkka_hakkarainen.jpg' alt='Ilkka Hakkarainen')#personal-image
		ul
			li.personal-data 👤 Ilkka Hakkarainen
			li.personal-data ✉ ilkka.hakkarainen@cs.helsinki.fi
	section.sidebar-section#github
		h1.sidebar-section-heading#github-heading GitHub repositories
		github
	section.sidebar-section#twitter
		h1.sidebar-section-heading#twitter-heading Twitter feed
		include ./_twitter.pug
